.page {
	margin: 5px;
	width: 80%;
	margin: auto;
	background-color: #EAECEE;
}

 /* Style the navbar */

#navbar {
  overflow: hidden;
  background-color: #000000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 80%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
} 


.image {
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}

.frame-question {
	background-color: #33B3FF;
	border: solid 2px ;
	border-radius: 20px;
	padding: 0px 30px 20px;
	margin: 5px 0px;
}

.frame-text {
	background-color: white;
	border: solid 2px ;
	border-radius: 20px;
	padding: 0px 30px 20px;
	margin: 5px 0px;
}

button {
	background-color: #566573;
	color: white;
	font-weight: 600;
	border: solid 2px black;
	border-radius: 9px;
	padding: 5px 20px;
}

#box {
	text-align: center;
}